---
import Layout from "@layouts/Layout.astro";
import AgentCard from "@components/AgentCard.astro";
import AccountCard from "@components/AccountCard.astro";
// 30req/min

/* const name = "YabissS";
const tag = "6070";

const BASE_URL = import.meta.env.PUBLIC_URL;

const response = await fetch(
    `${BASE_URL}/api/account?name=${encodeURIComponent(name)}&tag=${encodeURIComponent(tag)}`,
    {
        method: "GET",
        headers: {

            "Content-Type": "application/json",
        },
    },
);
const { data } = await response.json();

console.log(data); */

const accounts = [
    {
        name: "YabissS",
        tag: "6070",
        image: "https://media.valorant-api.com/competitivetiers/564d8e28-c226-3180-6285-e48a390db8b1/0/largeicon.png",
    },
    {
        name: "santg",
        tag: "2066",
        image: "https://media.valorant-api.com/competitivetiers/564d8e28-c226-3180-6285-e48a390db8b1/0/largeicon.png",
    }
];
---

<Layout title="Agents">
    <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <!-- text - start -->
            <div class="mb-10 md:mb-16">
                <h2
                    class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"
                >
                    Accounts
                </h2>

                <p
                    class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg"
                >
                    List of all accounts.
                </p>
            </div>
            <!-- text - end -->

            <div
                class="grid gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-4 xl:grid-cols-6"
            >
                <!--  <AgentCard name="Jett" role="Sentinel" image="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/820d36d431fff77b1e1ece39ad6f007746bd31f6-616x822.png?auto=format&fit=fill&q=80&w=218" /> -->
                {accounts.map((account, index) => (
                    <div>
                    <h1 class=" text-center text-2xl font-bold">{account.name}#{account.tag}</h1>
                    <img src={account.image} loading="lazy" alt={account.name} class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                </div>
                ))}
                <!-- {agents.map ((agent, index) => (
                    <AgentCard {...agent}  />
                ))} -->
            </div>
        </div>
    </div>
</Layout>
